<h2>Registrieren</h2>

<form action="/auth/signup" method="POST" id="form-container">
  <label for="username">Nutzername</label>
  <input id="username" type="text" name="username" placeholder="Your name">

  <br><br>

  <label for="password">Passwort</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  <br>
  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button>Erstellen Sie einen Account</button>

  <p class="account-message">
    Haben Sie schon einen Account?
    <a href="/auth/login">Einloggen</a>
  </p>
</form>