<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
  <script <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>

  <nav class="navbar">

    <div class="header">
      <div>
        <a href="/">Kindergarten</a>
      </div>
      <form>
        <input type="search" placeholder="Search" aria-label="Search">
        <button class="btn" type="submit">Search</button>
      </form>
      <div>
        {{#if loggedIn}}
        <h1>Hello loggedin</h1>
        <a href="/profile">Profile</a>
        <a href="/auth/logout">Log out</a>
        {{else}}
        <a href="/auth/signup">Sign up</a>
        <a href="/auth/login">Log in</a>
        <a href="/auth/google">Log in with Google</a>
        {{/if}}
      </div>
      <h1>Find your Kita</h1>

    </div>

    <div id='map' {{!-- style='width: 400px; height: 300px' --}};></div>

    <script>

      mapboxgl.accessToken = 'pk.eyJ1Ijoia2RjaG9ybGV5IiwiYSI6ImNrMzc1ZWtyczA4OHAzbHFlcmN2Mm9ubzAifQ.4_1U9gOKEh0_8rXH4VFd8A';
      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        //centering the map - with googled longitude + latitude values for Berlin:
        center: [13.40, 52.52],
        zoom: 14
      });

      map.addControl(new mapboxgl.NavigationControl());

      const getMarkers = () => {
        console.log("getmarker started")
        axios.get('/api/kitas').then(response => {
          console.log('map', response)
          response.data.forEach(point => {
            console.log(point);
            const coordinates = [point.long, point.lat];
            new mapboxgl.Marker().setLngLat(coordinates).addTo(map)
          })
        })
      }

      getMarkers();

    </script>

</body>

</html>