<div class="header">

  <h1>Finden Sie Ihre Kita</h1>

</div>

<div id='map' {{!-- style='width: 400px; height: 300px' --}};></div>

<script>

  mapboxgl.accessToken = 'pk.eyJ1Ijoia2RjaG9ybGV5IiwiYSI6ImNrMzc1ZWtyczA4OHAzbHFlcmN2Mm9ubzAifQ.4_1U9gOKEh0_8rXH4VFd8A';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    //centering the map - with googled longitude + latitude values for Berlin:
    center: [13.40, 52.52],
    zoom: 14
  });

  map.addControl(new mapboxgl.NavigationControl());

  const getMarkers = () => {
    console.log("getmarker started")
    axios.get('/api/kitas').then(response => {
      console.log('map', response)
      response.data.forEach(point => {

        const popupText = `<a href="/kita/${point._id}"><h3>${point.name}</h3></a >
        <p class="popupText">${point.adresse}, ${point.postleitzahl} <br> ${point.stadt} ${point.viertel} <br> +49 ${point.telefon} <br> Frühestes Aufnahmealter In Monaten: ${point.fruehestesAufnahmealterInMonaten}
        <br>`

        console.log('NEED INFO', point);
        const coordinates = [point.long, point.lat];
        new mapboxgl.Marker().setLngLat(coordinates).setPopup(new mapboxgl.Popup({ offset: 25 }).setHTML(popupText)).addTo(map)
      })
    })

  }

  getMarkers();

</script>