<div>
  <h1>Willkommen im Kindergarten!</h1>
  <p>Search for kitas in your neighbourhood.</p>
  <p>Sign up or login to use our easy application process</p>
</div>
<div id='map'></div>

<script>

  mapboxgl.accessToken = 'pk.eyJ1Ijoia2RjaG9ybGV5IiwiYSI6ImNrMzc1ZWtyczA4OHAzbHFlcmN2Mm9ubzAifQ.4_1U9gOKEh0_8rXH4VFd8A';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [13.40, 52.52],
    zoom: 14
  });

  var geocoder = new MapboxGeocoder({ // Initialize the geocoder
    accessToken: mapboxgl.accessToken, // Set the access token
    mapboxgl: mapboxgl, // Set the mapbox-gl instance
    marker: false, // Do not use the default marker style
    placeholder: 'Finden Sie Kitas in Berlin'
  });

  // Add the geocoder to the map
  map.addControl(geocoder);



  const getMarkers = () => {
    axios.get('/api/kitas').then(response => {
      //console.log('map', response)
      response.data.forEach(point => {
        var markerHeight = 55, markerRadius = 35, linearOffset = 25;
        var popupOffsets = {
          'top': [0, 20],
          'top-left': [0, 0],
          'top-right': [0, 0],
          'bottom': [0, -20 - markerHeight],
          'bottom-left': [linearOffset, (markerHeight - markerRadius + linearOffset) * -1],
          'bottom-right': [-linearOffset, (markerHeight - markerRadius + linearOffset) * -1],
          'left': [markerRadius, (markerHeight - markerRadius) * -1],
          'right': [-markerRadius, (markerHeight - markerRadius) * -1]
        };

        const popupText = `<div class="popupTextBox" ><a href="/kita/${point._id}"><h3>${point.name}</h3></a >
        <p class="popupText">${point.adresse}, ${point.postleitzahl} <br> ${point.stadt} ${point.viertel} <br> +49 ${point.telefon} <br> Frühestes Aufnahmealter In Monaten: <span class="earliestAge" style="color: black;">${point.fruehestesAufnahmealterInMonaten}
        </span><br></div>`

        console.log(point);
        const coordinates = [point.long, point.lat];
        new mapboxgl.Marker().setLngLat(coordinates).setPopup(new mapboxgl.Popup({ offset: popupOffsets }).setMaxWidth("700px").setHTML(popupText)).addTo(map)

      })
    })
  }

  getMarkers();


</script>