<h1>{{title}}</h1>
<p>Wilkommen bei {{title}}</p>
<p>Bitte geben Sie Ihre Postleitzahl ein.</p>

<form action="/" method="post">
  <label for="postleitzahl">Postleitzahl: </label>
  <input type="text" name="postleitzahl" id="postleitzahl">
  <button type="submit">Suche</button>
</form>