<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
  <script
    src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js'></script>

  {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"  --}}

  <link rel='stylesheet'
    href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css'
    type='text/css' />

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>

  <nav class="navbar">
    <div>
      <a href="/">Kindergarten</a>
    </div>
    <form>
      <input type="search" placeholder="Search" aria-label="Search">
      <button class="btn" type="submit">Search</button>
    </form>
    <div>
      {{#if loggedIn}}
      <a href="/profile">Profile</a>
      <a href="/auth/logout">Log out</a>
      {{else}}
      <a href="/auth/signup">Sign up</a>
      <a href="/auth/login">Log in</a>
      <a href="/auth/google">Log in with Google</a>
      {{/if}}
    </div>

  </nav>

  {{{body}}}
  <script src="/javascripts/script.js">
  </script>
</body>

</html>