{{!-- <h1>Find your Kita</h1>

<div id='map' style='width: 400px; height: 300px;'></div>

<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoidG9za2FtYWxpc2tlIiwiYSI6ImNrMnp5YzFhdTBra3czZ3A4OWRlYjljM28ifQ.ezvu3fb-mf_LzX6zcKGTVg';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    //centering the map - with googled longitude + latitude values for Berlin:
    center: [13.40, 52.52],
    zoom: 14
  });

  map.addControl(new mapboxgl.NavigationControl());

  const getMarkers = () => {
    axios.get('/api/kitas').then(response => {
      console.log('map', response)
      response.data.forEach(point => {
        console.log(point);
        const coordinates = [point.long, point.lat];
        new mapboxgl.Marker().setLngLat(coordinates).addTo(map)
      })
    })
  }

  getMarkers();

</script> --}}