<h1>Welcome {{user.name}}</h1>
<a href='/kita/5dd51531dd0a2222e7dac773'>Go to a very specific Kita</a>

<div id="comment-box">
  {{#if comments}}
  <h2>Comments</h2>
  {{#each comments}}
  {{#with kita}}
  <h4>{{name}}</h4>
  {{/with}}

  <p>{{content}}</p>
  <a href="/profile/{{_id}}/delete">Delete this comment❌</a> {{/each}}
  {{/if}}
</div>