<h1>Wilkommen {{user.name}}</h1>

<div id="comment-box">
  {{#if comments}}
  <h2>Kommentare</h2>
  {{#each comments}}
  {{#with kita}}
  <h4>{{name}}</h4>
  {{/with}}

  <p>{{content}}</p>
  <a href="/profile/{{_id}}/delete">Diesen Kommentar löschen❌</a> {{/each}}
  {{/if}}
</div>