body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #404040;
  color: #f8f8f8;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #00B7FF;
}

#map {
  height: 80vh;
  width: 90vw;
}

.popupText {
  color: black;
}